{% extends "base.html.twig" %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container ms-4 mt-4">
		<h4 class="text-primary ">Hello, allez dans Categories !</h2>
		Premier Projet Symfony
	</div>
{% endblock %}
